@model SecondCrudOperation.Models.Student

@{
    ViewData["Title"] = "Add Student";
}

<h1>Add Student</h1>

<form asp-controller="Add" asp-action="AddStudents" method="post">
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Gender">Gender:</label>
        <input asp-for="Gender" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Faculty">Faculty:</label>
        <input asp-for="Faculty" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Grade">Grade:</label>
        <input asp-for="Grade" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Add Student</button>
</form>
